.DS_Store
*~
*#
recorded_frames
recorded_frames_*
videos
game_logs
game_logs*
webcam_logs/*
game_data/*
practice_game_data/*
socket_logs
socket_logs*
control_logs
control_logs*
game_data/*
practice_game_data/*
participant_data/*
space_invaders/db/create_database_old.sql
space_invaders/db/game_logs*.db
venv_game
__pycache__
# analysis
*.ipynb_checkpoints
collected_data
.vscode/settings.json
notebooks/stich.ipynb
space_invaders/db/initial_game_logs.db
space_invaders/sent_check.py
