.DS_Store
*~
*#
recorded_frames
recorded_frames_*
videos
game_logs
game_logs*
webcam_logs/*
gamescreen_logs/*
socket_logs
socket_logs*
control_logs
control_logs*
space_invaders/db/create_database_old.sql
space_invaders/db/game_logs*.db
analysis
*.ipynb_checkpoints
collected_data
.vscode/settings.json
notebooks/stich.ipynb
