[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
opencv-python = "*"
newrelic = "*"
uwsgi = "*"
sentry-sdk = "*"
jupyter = "*"
pandas = "*"

[requires]
python_version = "3.7"
