<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Check Webcam Images</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    
  </head>
  <body>
    <div class="camera">
        <video id="video"/>
    </div>

    <canvas id="canvas" style="display:none" />\]

    <script type="text/javascript" src="{{ static_url("jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("webcam_check.js") }}"></script>
    
  </body>
</html>
